
#content {/*
    display: grid;
    grid-template-columns: 16% 60%;*/
}
#menu {
  /*  text-align: center;
    background-color: #fff;
    height: 400px;
    /*border:1px solid #9A9595;*/
    box-shadow: 5px 3px 3px #F2F1F1;*/
}

#menu-item>div:hover {
    cursor: pointer;
    background-color: rgba(255, 153, 0, 0.1);
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: rgb(255, 153, 0);
}
#panels {
    /*padding-left: 5%;*/
}

table {
    /*border-collapse: collapse;*/
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
}

th, td{
    /*width: 10%;*/
    text-align: center;
    /*border: 1px solid black;*/
    padding: 8px
}


.modal {
  display: none;
}

.modal.is-open {
  display: block;
}


.tw-fields{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
